@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;600&display=swap');

.button {
    margin-bottom: 20px; 
    background-color: rgb(252, 246, 212);
    font-family: 'karla', sans-serif;
    font-size: 20px;
    padding: 10px;
    border: 2px solid black ;
    border-radius: 10px;
    box-shadow: -3px 3px 0px 0px black;
}

.button:hover {
    background-color: rgb(255, 247, 200);
    box-shadow: -5px 5px 0px 0px black;
    cursor: pointer;
}